.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

# Built Visual Studio Code Extensions
*.vsix


#Update!
temp
main.c
CSharp-101/
